<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="蜂盒科技SaaS平台自动化测试">
	<test name="SaaS登录页" preserve-order="true">
		<classes>
			<class name="com.beeboxes.face.login.testcase.TestLogin">
				<methods>
					<include name="testLogin" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="SaaS人员管理页" preserve-order="true">
		<classes>
			<class name="com.beeboxes.face.people.testcase.TestPeopleManagement">
				<methods>
				    <include name="testLogin" />
					<include name="getPeopleManagement" />
				</methods>
			</class>
		</classes>
	</test>


	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
</suite>